
body{ 
 font-family: Georgia, serif;
margin-top: 90px;
margin-bottom: 100px;
margin-right: 110px;
margin-left: 110px;
 text-align:justify
}


.ci{
 line-height:35%;
}

#name{ 
font-size: 30px;
font-weight: bold 
} 

#first{ 
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase; 
 }

#second{ 
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#pe{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#aff{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}


#va{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#footer{
font-size: 10px
color: red;
font-style: italic; 
text-align: center;
}

   
#Amazon{ float:left;}
#title1{ float: left;}
#date{ float: right}
