
body{ 
 font-family: Georgia, serif;
margin-top: 90px;
margin-bottom: 100px;
margin-right: 110px;
margin-left: 110px;
 text-align:justify
  }

background-image: url("https://s-media-cache-ak0.pinimg.com/736x/a8/13/b9/a813b9c65af514c9b5141c4965f4ceb1.jpg");

.ci{
 line-height:35%;
}

#name{ 
font-size: 30px;
font-weight: bold 
} 

#first{ 
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase; 
 }

#second{ 
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#pe{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#aff{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}


#va{
font-size: 20px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase;
}

#footer{
font-size: 10px
color: red;
font-style: italic; 
text-align: center;
}

