
body{ 
 font-family: Georgia, serif;
margin-top: 90px;
margin-bottom: 100px;
margin-right: 110px;
margin-left: 110px;
}


.ci{
 line-height:35%;
}

#name{ 
font-size: 30px;
font-weight: bold 
} 

#first{ 
font-size: 25px;
font-weight: bold;
text-decoration: underline; 
text-transform: uppercase; 
 }


